
@{
    ViewBag.Title = "GetContactEmails";
 
}

<h2>Contact Emails</h2>

<div class="container text-center">
    @foreach (var item in ViewBag.emailList)

    {
        @item
        <br/>
    }
</div>
   
   
