
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supplier Landing Page</h2>

@using (Html.BeginForm("Index", "Supplier", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-md-2">Title</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="subject" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Message</label>
        <div class="col-md-8">
            <textarea class="form-control" name="body"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}